/laravel-api/.phpunit.cache
/laravel-api/node_modules
/laravel-api/public/build
/laravel-api/public/hot
/laravel-api/public/storage
/laravel-api/storage/*.key
/laravel-api/vendor
/laravel-api/.env
/laravel-api/.env.backup
/laravel-api/.env.production
/laravel-api/.phpunit.result.cache
/laravel-api/Homestead.json
/laravel-api/Homestead.yaml
/laravel-api/auth.json
/laravel-api/npm-debug.log
/laravel-api/yarn-error.log
/laravel-api/.fleet
/laravel-api/.idea
/laravel-api/.vscode

/.vscode
/.idea
/.fleet

# Logs
/react-app/logs
/react-app/*.log
/react-app/npm-debug.log*
/react-app/yarn-debug.log*
/react-app/yarn-error.log*
/react-app/pnpm-debug.log*
/react-app/lerna-debug.log*

/react-app/node_modules
/react-app/dist
/react-app/dist-ssr
/react-app/*.local

# Editor directories and files
/react-app/.vscode/*
/react-app/!.vscode/extensions.json
/react-app/.idea
/react-app/.DS_Store
/react-app/*.suo
/react-app/*.ntvs*
/react-app/*.njsproj
/react-app/*.sln
/react-app/*.sw?